.main {
  background-color: #1d1e22;
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 5px 2px black;
  border-width: 1px;
  border-style: solid;
  border-top-color: #808080;
  border-left-color: #808080;
  border-right-color: #1c1c1c;
  border-bottom-color: #1c1c1c;
  color: white;
}

.wrapper {
  background-color: #1a1a1a;

}

.wrapperInside {
  display: flex;
  flex-wrap: wrap;
  width: 320px;
  height: 320px;
}

.counter {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  margin-bottom: 20px;
  color: white;
}

.pixel {
  position: relative;
  width: 20px;
  height: 20px;
  border: 1px solid #2b2c64;
  transform-style: preserve-3d;
}

.pixel .side {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transition: transform 0.75s ease-in-out;
}

.pixel .front {
  transform: rotateY(0deg);
}

.pixel .back {
  transform: rotateY(180deg);
}

.pixel.flipped .front {
  transform: rotateY(180deg);
  transition: transform 0.01s ease-in-out;
}

.pixel.flipped .back {
  transform: rotateY(0deg);
  transition: transform 0.01s ease-in-out;
}

